In [1]:
import numpy as np
import cv2
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
%matplotlib inline
import glob
import csv
import pandas as pd

In [2]:
def read_all_Uber_data():
    """
    This function load all the Uber data in the folder and merge them together into one data frame
    """
    # Read in all the dataset
    data_file_paths = glob.glob("DC_Data/Uber-DC*")
    
    all_data = []
    for fname in data_file_paths: # Read file name
        data= pd.read_csv(fname)
        all_data.append(data)
        # Find column names
        # list(data)

    # Merge all the datasets and store in one dataframe called data_merge
    data_merge = all_data[0]
    for i in range(1,len(all_data)):
        next_data = all_data[i]
        frames = [data_merge,next_data]
        data_merge = pd.concat(frames)
    return data_merge

In [19]:
# Read all the Uber data in Washington DC, merge into a data frame, and return the dataframe
# data = read_all_Uber_data()
# Save data in a csv
# data.to_csv("DC_Data/Uber_All.csv")

In [65]:
data= pd.read_csv("DC_Data/Uber_All.csv")
data = data.drop('Unnamed: 0', 1) # Drop a unuseful column for index

In [66]:
# Find the data dimension
data.shape

(35512, 10)

In [67]:
# Find the data columns
colnames = list(data)
colnames

['Origin Movement ID',
 'Origin Display Name',
 'Origin Geometry',
 'Destination Movement ID',
 'Destination Display Name',
 'Destination Geometry',
 'Date Range',
 'Mean Travel Time (Seconds)',
 'Range - Lower Bound Travel Time (Seconds)',
 'Range - Upper Bound Travel Time (Seconds)']

In [68]:
longtitudes = []
latitudes = []
for line in data[colnames[5]]:
    array = line.split(',')
    item = array[2]
    longtitude = item[1:]
    #first_item = first_item.split('[')
    item = array[3]
    latitutde = item[:-1]
    longtitudes.append(longtitude)
    latitudes.append(latitutde)
data['latitudes']= latitudes
data['longtitudes'] = longtitudes

In [78]:
Months = []
Weekdays = []
Times = []
for line in data[colnames[6]]:
    array = line.split(',')
    Month = array[0]
    Weekday = array[1]
    Time = array[2]
    
    Months.append(Month)
    Weekdays.append(Weekday)
    Times.append(Time)
data['Months']= Months
data['Weekdays'] = Weekdays
data['Times'] = Times

In [81]:
data.to_csv("DC_Data/Uber_All_processed.csv")

In [80]:
data[:1]

,Origin Movement ID,Origin Display Name,Origin Geometry,Destination Movement ID,Destination Display Name,Destination Geometry,Date Range,Mean Travel Time (Seconds),Range - Lower Bound Travel Time (Seconds),Range - Upper Bound Travel Time (Seconds),latitudes,longtitudes,Months,Weekdays,Times
0,186,"20001, Northwest Washington, Washington","[[-77.033645,38.897345],[-77.033644,38.898314]...",1,"5400 Arnold Avenue Southwest, Southwest Washin...","[[-77.048009,38.841266],[-77.047969,38.841267]...","04/01/2016 - 06/30/2016, Fridays, 04:00PM-06:00PM",1288,939,1765,38.841267,-77.047969,04/01/2016 - 06/30/2016,Fridays,04:00PM-06:00PM