In [2]:
import numpy as np
import cv2
%matplotlib inline
import glob
import csv
import pandas as pd
import re
import datetime

In [ ]:
def match_region_with_centroid(data_var,data_regions):
    """
    This function matches the centroid/region in two dataset by comparing the Longitude & Latitude
    """
    df = data_var.copy()
    regions_list = []
    for i in range(0,len(data_var)):
        region_matched = -1
        for j in range(0,len(data_regions)):
            if (data_var['Centroid_Latitude'][i] == data_regions['Latitude'][j] and data_var['Centroid_Longitude'][i] == data_regions['Longitude'][j]):
                region_matched = j
        if region_matched == -1:
            print("Longitude/Latitude of the row " +str(i+1)+ " in data_var is wrong!")
            #return
        regions_list.append(region_matched)
    # Remove the incorrect region name column in Var_df
    df=df.drop(['Region_Name'],1)
    # Add a new column with the correct region name
    df["Region"] = regions_list 
    
    return df

In [27]:
def create_demand_instance():
    """
    This function creates an instance of damand data.
    It is used before we get the actual demand data
    """
    n_regions = 5
    n_hours = 24
    n_weekdays = 7

    list_weekdays = []
    list_hours = []
    list_regions = []
    list_traffic = []
    for w in range(0,n_weekdays):
        for h in range(0,n_hours):
            for r in range(0,n_hours):
                list_weekdays.append(w+1)
                list_hours.append(h)
                list_regions.append(r)
                list_traffic.append(np.random.randn()*300+4000)
    # Create Dataframe
    Demand_df = pd.DataFrame(
        {
         'Weekday':list_weekdays,
         'Hour': list_hours,
         'Region': list_regions, 
         'Avg_Traffic': list_traffic,
        })
    return Demand_df
# Demand_df = create_demand_instance()
# Save Dataframe
# Demand_df.to_csv("Pickup_Demands_Instance.csv")

In [64]:
# Read two dataset
data_demand = pd.read_csv('Pickup_Demands_Instance.csv')
data_var = pd.read_csv('DC_Uber_Variability_Data.csv')

# Read the Region Data Set
data_regions=pd.read_csv('DC_Cab_Pickup/CoordinateWrenches.csv')

In [65]:
data_demand[:3]

   Unnamed: 0  Avg_Traffic  Hour  Region  Weekday
0           0  4363.774321     0       0        1
1           1  4041.983829     0       1        1
2           2  3982.742752     0       2        1

In [66]:
data_var[:3]

,Average Variability,Centroid_Latitude,Centroid_Longitude,Number_Destination_Zones_in_Region,Region_Name,Time,Weekday
0,1.755167,38.89336,-77.008867,7,R1,12:00AM-02:00AM,Fridays
1,2.233562,38.89336,-77.008867,7,R1,04:00PM-06:00PM,Fridays
2,1.982204,38.89336,-77.008867,7,R1,06:00PM-08:00PM,Fridays

In [67]:
data_regions

    Latitude  Longitude    Radius
0  38.903646 -77.052080  0.015497
1  38.897879 -77.026263  0.012657
2  38.905107 -77.036653  0.012657
3  38.893360 -77.008867  0.017973
4  38.921966 -77.047168  0.018967

In [75]:
# Match Region with Centroid through Longitude and Latitude
data_var_new = match_region_with_centroid(data_var,data_regions)

In [ ]:
"""
This function converts the hour in data_demand and delete the rows that are out of the selected 
"""

"""
This function converts the timeslot in data_region
"""

In [76]:
data_var['Time'].unique()

array(['12:00AM-02:00AM', '04:00PM-06:00PM', '06:00PM-08:00PM',
       '08:00PM-10:00PM', '10:00PM-12:00AM', '07:00AM-09:00AM'], dtype=object)

In [86]:
n_Time = 6
Time_Ind = np.arange(n_Time)
Time_Name = ['12:00AM-02:00AM','07:00AM-09:00AM', '04:00PM-06:00PM', '06:00PM-08:00PM','08:00PM-10:00PM', '10:00PM-12:00AM']
Time_From = [0,7,16,18,20,22]
Time_To = [2,9,18,20,22,24]

In [87]:
# Create a Time_dataframe
Time_df = pd.DataFrame({'Time_Index':Time_Ind,
                       'Time_Nmae': Time_Name,
                       'Time_From': Time_From,
                       'Time_To': Time_To})

In [88]:
Time_df

   Time_From  Time_Index        Time_Nmae  Time_To
0          0           0  12:00AM-02:00AM        2
1          7           1  07:00AM-09:00AM        9
2         16           2  04:00PM-06:00PM       18
3         18           3  06:00PM-08:00PM       20
4         20           4  08:00PM-10:00PM       22
5         22           5  10:00PM-12:00AM       24