In [1]:
import numpy as np
import cv2
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
%matplotlib inline
import glob
import csv
import pandas as pd
import re

In [144]:
data= pd.read_csv("DC_Uber_Data/Uber_DC_R1_Sun_7_9.csv")
data[:1]

,Origin Movement ID,Origin Display Name,Origin Geometry,Destination Movement ID,Destination Display Name,Destination Geometry,Date Range,Mean Travel Time (Seconds),Range - Lower Bound Travel Time (Seconds),Range - Upper Bound Travel Time (Seconds)
0,123,"600 Independence Avenue Southeast, Southeast W...","[[-77.003515,38.889705],[-77.003515,38.889808]...",7,"4500 Ohio Drive Southwest, Southwest Washingto...","[[-77.064696,38.891852],[-77.064626,38.891837]...","01/01/2016 - 03/31/2016, Sundays, 07:00AM-09:00AM",382,164,892

In [147]:
# Extract the Origin Information
data_after_extraction = extract_origin_geodata(data,'Origin Geometry','Origin Longitude','Origin Latitude')
data_after_extraction = extract_origin_geodata(data_after_extraction,'Destination Geometry','Destination Longitude','Destination Latitude')
data[:3]

,Origin Movement ID,Origin Display Name,Origin Geometry,Destination Movement ID,Destination Display Name,Destination Geometry,Date Range,Mean Travel Time (Seconds),Range - Lower Bound Travel Time (Seconds),Range - Upper Bound Travel Time (Seconds),Origin Longitude,Origin Latitude,Destination Longitude,Destination Latitude
0,123,"600 Independence Avenue Southeast, Southeast W...","[[-77.003515,38.889705],[-77.003515,38.889808]...",7,"4500 Ohio Drive Southwest, Southwest Washingto...","[[-77.064696,38.891852],[-77.064626,38.891837]...","01/01/2016 - 03/31/2016, Sundays, 07:00AM-09:00AM",382,164,892,"[-77.064696, -77.064626, -77.06435, -77.064164...","[38.891852, 38.891837, 38.891795, 38.891773, 3...","[-77.064696, -77.064626, -77.06435, -77.064164...","[38.891852, 38.891837, 38.891795, 38.891773, 3..."
1,123,"600 Independence Avenue Southeast, Southeast W...","[[-77.003515,38.889705],[-77.003515,38.889808]...",8,"0 H Street Northwest, Northwest Washington, Wa...","[[-77.021918,38.902521],[-77.021515,38.902521]...","01/01/2016 - 03/31/2016, Sundays, 07:00AM-09:00AM",562,297,1061,"[-77.021918, -77.021515, -77.019907, -77.01949...","[38.902521, 38.902521, 38.902521, 38.90252, 38...","[-77.021918, -77.021515, -77.019907, -77.01949...","[38.902521, 38.902521, 38.902521, 38.90252, 38..."
2,123,"600 Independence Avenue Southeast, Southeast W...","[[-77.003515,38.889705],[-77.003515,38.889808]...",10,"1500 30th Street Northwest, Northwest Washingt...","[[-77.069269,38.900582],[-77.068723,38.901015]...","01/01/2016 - 03/31/2016, Sundays, 07:00AM-09:00AM",877,677,1137,"[-77.069269, -77.068723, -77.063071, -77.06275...","[38.900582, 38.901015, 38.901484, 38.902037, 3...","[-77.069269, -77.068723, -77.063071, -77.06275...","[38.900582, 38.901015, 38.901484, 38.902037, 3..."

In [137]:
data = extract_origin_geodata(data)

In [139]:
data[:1]

,Origin Movement ID,Origin Display Name,Origin Geometry,Destination Movement ID,Destination Display Name,Destination Geometry,Date Range,Mean Travel Time (Seconds),Range - Lower Bound Travel Time (Seconds),Range - Upper Bound Travel Time (Seconds),dest_longtitudes,dest_latitudes,Origin_latitudes,Origin_longtitudes
0,123,"600 Independence Avenue Southeast, Southeast W...","[[-77.003515,38.889705],[-77.003515,38.889808]...",7,"4500 Ohio Drive Southwest, Southwest Washingto...","[[-77.064696,38.891852],[-77.064626,38.891837]...","01/01/2016 - 03/31/2016, Sundays, 07:00AM-09:00AM",382,164,892,"[-77.064696, -77.064626, -77.06435, -77.064164...","[38.891852, 38.891837, 38.891795, 38.891773, 3...",38.889808,-77.003515

In [126]:
# Read the pre-defined region's data
data_regions=pd.read_csv('DC_Cab_Pickup/CoordinateWrenches.csv')
data_regions

    Latitude  Longitude    Radius
0  38.903646 -77.052080  0.015497
1  38.897879 -77.026263  0.012657
2  38.905107 -77.036653  0.012657
3  38.893360 -77.008867  0.017973
4  38.921966 -77.047168  0.018967

In [132]:
data_region = data_regions[:1] # The data of the first region
region_latitude = data_region["Latitude"][0] # Read the latitude
region_longitude = data_region["Longitude"][0] # Read the longitude
region_radius = data_region["Radius"][0] # Read the Radius

In [ ]:
# First test on the origin geodata
uber_latitudes =

In [117]:
def read_destination_geodata(data)
    """
    This function read all the destination longitudes and latitudes and store in two new columns
    """
    rows_dest_longitudes = []
    rows_dest_latitudes = []

    # Read the Destination Geometry data from each line
    for line in data['Destination Geometry']: # The index is subject to change when we merged multiple dataset together
        dest_longitudes = [] # Record the destination longitudes in each row
        dest_latitudes = [] # Record the destination latitudes in each row

        array = re.split(r'[|[|,|]',line) # Split the cell contents
        # First two components are negligible, every three units (as a pack) after contain: longitutde, latitutde, and null. 
        # Each latitude contains a ']' in the end
        # The last latitutde contains 2 ']'s
        # The last pack contains only two units: a longitude, and a latitutde
        total_dest_coords = int((len(array)-2+1)/3); # Find the total number of pairs of longitudes and latitudes
        for i in range(0,total_dest_coords): # Loop until the second last 
            dest_longitudes.append(float(array[i*3+2]))
            latitude_pieces = array[i*3+3].split(']')
            dest_latitudes.append(float(latitude_pieces[0]))
        rows_dest_longitudes.append(dest_longitudes);
        rows_dest_latitudes.append(dest_latitudes);
    data['dest_longtitudes'] = rows_dest_longitudes # Add one more column for destination longitudes
    data['dest_latitudes']= rows_dest_latitudes # Add one more column for destination latitudes
    
    # To read the first destination longitude of the first row:
    # data['dest_longtitudes'][0][0]
    return data

In [136]:
def read_all_Uber_data():
    """
    This function load all the Uber data in the folder and merge them together into one data frame
    """
    # Read in all the dataset
    data_file_paths = glob.glob("DC_Uber_Data/Uber_DC*")
    
    all_data = []
    for fname in data_file_paths: # Read file name
        data= pd.read_csv(fname)
        all_data.append(data)
        # Find column names
        # list(data)

    # Merge all the datasets and store in one dataframe called data_merge
    data_merge = all_data[0]
    for i in range(1,len(all_data)):
        next_data = all_data[i]
        frames = [data_merge,next_data]
        data_merge = pd.concat(frames)
    return data_merge

def extract_origin_geodata(data):
    """
    This function extract the Latitudes and Longitude of the origin district
    """
    longtitudes = []
    latitudes = []
    for line in data['Origin Geometry']:
        array = line.split(',')
        item = array[2]
        longtitude = item[1:]
        #first_item = first_item.split('[')
        item = array[3]
        latitutde = item[:-1]
        longtitudes.append(longtitude)
        latitudes.append(latitutde)
    data['Origin_latitudes']= latitudes
    data['Origin_longtitudes'] = longtitudes
    return data

def extract_time_data(data):
    """
    This function extract the time data including the Months, Day of Week, and Hour of Day
    """
    Months = []
    Weekdays = []
    Times = []
    for line in data[colnames[6]]:
        array = line.split(',')
        Month = array[0]
        Weekday = array[1]
        Time = array[2]

        Months.append(Month)
        Weekdays.append(Weekday)
        Times.append(Time)
    data['Months']= Months
    data['Weekdays'] = Weekdays
    data['Times'] = Times
    return data

In [143]:
def extract_origin_geodata(data,colname,new_colname_longitude,new_colname_latitude):
    """
    This function read all the original longitudes and latitudes and store in two new columns.
    Instead of writing two functions to reach the origin and destination geometry data respectively, I just wrote one
    to be used in both scenario
    data: the Uber Movement Dataset
    colname: the name of the column that store the geodata: 'Origin Geometry' / 'Desination Geometry'
    new_colname_longitude: the name for the new column that stores the extracted longitude information
    new_colname_latitude: the name for the new column that stores the extracted latitude information
    """
    rows_longitudes = [] # Store the longitude info of each row
    rows_latitudes = [] # Store the latitude info of each row

    # Read the Destination Geometry data from each line
    for line in data[colname]: # The index is subject to change when we merged multiple dataset together
        longitudes = [] # Record the longitudes in each row
        latitudes = [] # Record the latitudes in each row

        array = re.split(r'[|[|,|]',line) # Split the cell contents
        # First two components are negligible, every three units (as a pack) after contain: longitutde, latitutde, and null. 
        # Each latitude contains a ']' in the end
        # The last latitutde contains 2 ']'s
        # The last pack contains only two units: a longitude, and a latitutde
        total_coords = int((len(array)-2+1)/3); # Find the total number of pairs of longitudes and latitudes
        for i in range(0,total_coords): # Loop until the second last 
            longitudes.append(float(array[i*3+2]))
            latitude_pieces = array[i*3+3].split(']')
            latitudes.append(float(latitude_pieces[0]))
        rows_longitudes.append(longitudes);
        rows_latitudes.append(latitudes);
    data[new_colname_longitude] = rows_longitudes # Add one more column for destination longitudes
    data[new_colname_latitude]= rows_latitudes # Add one more column for destination latitudes
    
    # To read the first destination longitude of the first row:
    # data['dest_longtitudes'][0][0]
    return data

In [6]:
# Read all the Uber data in Washington DC, merge into a data frame, and return the dataframe
data = read_all_Uber_data()
# Save data in a csv
# data.to_csv("DC_Data/Uber_All.csv")

In [65]:
data= pd.read_csv("DC_Data/Uber_All.csv")
data = data.drop('Unnamed: 0', 1) # Drop a unuseful column for index

In [7]:
# Find the data dimension
data.shape

(1030, 10)

In [10]:
# Find the data columns
colnames = list(data)
colnames

['Origin Movement ID',
 'Origin Display Name',
 'Origin Geometry',
 'Destination Movement ID',
 'Destination Display Name',
 'Destination Geometry',
 'Date Range',
 'Mean Travel Time (Seconds)',
 'Range - Lower Bound Travel Time (Seconds)',
 'Range - Upper Bound Travel Time (Seconds)']

In [81]:
data.to_csv("DC_Data/Uber_All_processed.csv")

In [13]:
data[:1]

,Origin Movement ID,Origin Display Name,Origin Geometry,Destination Movement ID,Destination Display Name,Destination Geometry,Date Range,Mean Travel Time (Seconds),Range - Lower Bound Travel Time (Seconds),Range - Upper Bound Travel Time (Seconds),latitudes,longtitudes,Months,Weekdays,Times
0,123,"600 Independence Avenue Southeast, Southeast W...","[[-77.003515,38.889705],[-77.003515,38.889808]...",1,"5400 Arnold Avenue Southwest, Southwest Washin...","[[-77.048009,38.841266],[-77.047969,38.841267]...","01/01/2016 - 03/31/2016, Sundays, 12:00AM-02:00AM",504,415,612,38.841267,-77.047969,01/01/2016 - 03/31/2016,Sundays,12:00AM-02:00AM